.toolbar-button {
    width: 100px;
    height: 36px;
    margin: 5px;
}


.filter-button-regular {
    width: 100px;
    height: 36px;
    margin: 5px;
    background-color: white;
    color: black;
}


.filter-button-active {
    width: 100px;
    height: 36px;
    margin: 5px;
}




