.modal-dialog {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    margin: 0 auto; /* Prevent jumping margins */
    width: 100%;
    height: 100%;
    /*margin: 0px;*/
}



.template-main-modal-content {
    width: 100%;
    height: 100%;
}

