.add-task-modal-dialog {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    margin: 0 auto; /* Prevent jumping margins */
    width: 420px;
    height: 400px;
    /*margin: 0px;*/
}



.add-task-modal-content {
    /*width: auto;*/
}

