.add-task-template-modal-dialog {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    margin: 0 auto; /* Prevent jumping margins */
    width: 100%;
    /*margin: 0px;*/
}



.add-task-template-modal-content {
    width: 380px;
    height: 200px;
}

